* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-image: linear-gradient(
    to right,
    $colorPrimario 35%,
    $colorSecundario 65%,
    $colorTerceario 95%
  );
  background-attachment: fixed;
}

.col {
  font-size: 1rem;
  color: antiquewhite;
  justify-content: center;
}

#Título h1 {
  color: $colorTerceario;
  justify-content: space-around;
  padding-bottom: 100px;
}

h5 {
  color: $colorSecundario;
}

#Tratamientos {
  color: $colorP;
  border-radius: 15px;
  background: #ae8585;
  box-shadow: inset -10px 10px 5px #947171, inset 10px -10px 5px #c89999;
}

ul {
  color: $colorP;

  li {
    list-style: none;
  }
}

#mainTeam {
  justify-content: space-around;
  width: $ancho;
  display: flex;

  div {
    display: contents;
    overflow: auto;
    width: $ancho / 3;
  }
}

i {
  justify-content: center;
  color: $colorP;
  font-size: 2rem;
  padding-top: 50px;
}

#contacto p {
  justify-content: space-around;
  display: flex;
  width: $ancho / 2;
  border-radius: 15px;
  background: #ae8585;
  box-shadow: inset -10px 10px 5px #947171, inset 10px -10px 5px #c89999;
}
