* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-image: linear-gradient(
    to right,
    $colorPrimario 35%,
    $colorSecundario 65%,
    $colorTerceario 95%
  );
}

.navbar-brand:hover {
  color: $colorSecundario;
}

.col {
  font-size: 1rem;
  color: antiquewhite;
  justify-content: center;
}

#Título h1 {
  color: $colorTerceario;
}

h4 {
  color: $colorP;
}

#Tratamientos {
  color: $colorP;
  border-radius: 15px;
  background: #ae8585;
  box-shadow: 10px -10px 20px #947171, -10px 10px 20px #c89999;
}
