$colorPrimario: #6d4141;
$colorSecundario: #ae8585;
$colorTerceario: antiquewhite;
$color4: rgb(218, 193, 161);
$color5: rgba(233, 150, 122, 0.491);
$colorP: rgb(37, 37, 37);
$colorV: rgb(104, 135, 104);
